* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

ul,
li {
    list-style: none;
}


/*네비 -----------------------------------------------*/

nav {
    display: flex;
}


/*로그인------------------------------------*/

.loginContainer {
    flex: 1;
}

.login {
    width: calc(100vw/3);
    text-align: center;
    vertical-align: center;
    line-height: calc(200px/512*229);
}

.login a {
    width: max-content;
    margin: 0 40px 0 40px;
    text-decoration: none;
    color: rgb(224, 207, 55);
    font-size: 20px;
    border: 3px;
    border-style: solid;
    padding: 3px;
    transition: 0.3s;
}


.login a:hover {
    opacity: 0.5;
}

/*로고------------------------------------*/

.logo {
    display: flex;
    flex: 1;
    justify-content: center;
}

.logo img {
    width: 200px;
    height: auto;
    cursor: pointer;
}




/*메뉴------------------------------------*/

.menuContainer {
    display: flex;
    flex: 1;
}




#contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    margin-top: 50px;
}

#contentContainer a {
    margin-top: 60px;
}